.search-bar{
  display: flex;
  justify-content: center;
}

.input-user{
  border: none;
  border-radius: 0;
  padding: 1%;
  width: 40%;
  font-size: 1.2em;
}

.search-button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}
