.signup-page{
  height: 100vh;
  background-color: white;
}

.create-profile
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header
{
}

.signup-card
{
  padding-top: 10%;
}
